<div class="list-group">
<h1><i class="mission-star glyphicon glyphicon-star"/> MISSÃO <small>{{mission.name}}</small></h1>
  <a href="" class="list-group-item" ng-repeat="task in mission.tasks track by task.id">
    <h4 class="list-group-item-heading">{{task.title}}</h4>
    <p class="list-group-item-text">
      <div class="row">
          <div class="col-md-2 col-xs-3">
              <i ng-show="task.completed" class="task-icon task-completed glyphicon glyphicon-ok"/>
              <i ng-show="!task.completed" class="task-icon task-pending glyphicon glyphicon-time"/>
          </div>
          <div class="col-md-10 col-xs-9">
            <div class="row">
              <div class="col-md-12">
                <span class="task-description"> <strong> {{task.description}} </strong></span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <span class="task-xp"> {{task.xp}}</span> <strong>xp</strong> 
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <span class="task-value"> R$ {{task.value}} </span> 
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <span class="task-end_date"> <strong>Término: </strong>{{task.end_date | date : 'dd'/'MM'/'yyyy': pt_BR}} </span> 
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </p>
  </a>
</div>
